<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hossam.mejiaasociados">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".VideoActivity"
            android:label="@string/title_activity_video" />
        <activity
            android:name=".VimeoActivity"
            android:label="@string/title_activity_vimeo"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>

        <service
            android:name="services.FetchLocationService"
            android:exported="false"></service>

        <activity
            android:name=".EditProfileActivity"
            android:label="@string/title_activity_edit_profile"></activity>
    </application>

</manifest>
